.header {
  padding: 0px, 15px;
  position: sticky;
  margin-top: 12px;
}
.menubar {
  padding-right: 20px;
}
.header-middle-items {
  width: 70%;
}
.input-box {
  width: 74%;
  display: flex;
}
input.search-box {
  width: 80%;
  height: 28px;
  border: 1px solid #607d8b80;
  font-size: 22px;
  margin: 0px;
  padding: 0px 10px;
}
.search-box {
  width: 40px;
  height: 28px;
  margin: 0px;
  top: 0%;
  border: 1px solid #607d8b80;
}
